---
title: Features by Fred Boyle | FellSwoop!
---

.row
	.small-12.medium-12.large-12.columns

		%h3 Which Muppet is your favorite?

		%form.autocomplete-form
			%input{:class => 'autocomplete', :name => "favorite-muppets", :type => "text", :placeholder => "Type a Muppet's name"}


.row
	.small-12.medium-12.large-12.columns

		%h3 Drag &amp; drop to re-order the items below
